/*
colori
#f6f8f9 sfondo body
#45abea editorial
#9c72e4 q1 goals
#64c0a9 recruiting
#f29e33 mobile
#d863a1 website
#b0c926 sales
#eb645d circle with cross
#dcdfe2 button section
*/
/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* palette di colori */
.lightblue{
    background-color: #45abea;
}
.violet{
    background-color: #9c72e4;
}
.orange{
    background-color: #f29e33;
}
.lightgreen{
    background-color: #64c0a9;
    color: #64c0a9;
}
.green{
    background-color: #b0c926;
}
.pink{
    background-color: #d863a1;
}
.red{
    color: #eb645d;
    border-color: #eb645d;
}
.grey{
    border-color: #dcdfe2;
    color: #dcdfe2;
}
.white{
    color: white;
}
.lightgrey{
    background-color: #f6f8f9;
}
.check-green{
    color: #64c0a9;
    border-color: #64c0a9;
}
body{
    background-color: #f6f8f9;
}
nav, div, header{
    background-color: white;
}
/* creazione box */
.circle{
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;

}
.rounded-box{
    border: 1px solid;
    border-radius: 40%;
    padding: 10px;
    font-size: 0.5em;
}
.button{
    border: 1px solid;
    border-radius: 10%;
}
/* resize */
main{
    width: 70%;
    margin:0 auto;
}
nav{
    margin-top: 40px;
    margin-bottom: 5px;
    padding: 30px;
}
strong{
    font-size:1.5em;
}
.padding{
    padding: 30px;
}
/* utility */
ul{
    list-style: none;
    padding: 10px;
    padding-left: 50px;
}
li{
    padding: 20px;
}
body{
    font-size: 24px;
    font-family: 'PT Serif', serif;
}
